.purple-ball {
  position: absolute;
  left: 850px;
  top: -2px;
}

.red-ball {
  position: absolute;
  left: 500px;
  top: 85px;
}

.purple-ball-light2 {
  position: absolute;
  width: 536px;

  filter: blur(40px);
  opacity: 0.2;
  left: 435px;
}

.red-light2 {
  position: absolute;
  width: 344px;

  filter: blur(115px);
  opacity: 0.5;
  top: 120px;
  left: -45px;
}

.red-ball-small {
  position: absolute;
  top: 527px;
  left: 820px;
}

.purple-light3 {
  display: none;
}

@media (max-width: 1439px) {
  .purple-ball {
    top: 275px;
    left: 280px;
    width: 100px;
    filter: blur(6px);
  }

  .red-ball {
    left: 25px;
    top: 450px;
    width: 70px;
    filter: blur(6px);
  }

  .red-light2 {
    position: absolute;
    width: 273px;
    filter: blur(79px);
    opacity: 0.5;
    top: 473px;
    left: -45px;
  }

  .purple-light3 {
    position: absolute;
    display: block;
    width: 120px;
    top: 60px;
    right: 0;
    filter: blur(120px);
  }
}
