@media (max-width: 1599px) {
  .header {
    width: 400px;
    height: 430px;
    margin: 20px 0;
    justify-content: space-between;

    .header-title {
      width: 400px;
      height: 170px;
      flex-direction: column;
    }

    .header-title__contacts {
      height: 80px;
      flex-direction: column;
      justify-content: space-around;

      .header-title__contacts-button {
        width: 190px;
        height: 40px;
      }
    }



    nav {
      height: 240px;

      .nav-links {
        flex-direction: column;

        p {
          line-height: 180%;
        }
      }
    }
  }
}