@import "../mixins/mixins.scss";
@import "../mixins/values.scss";

footer {
  width: 980px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: $aside;

  display: flex;
  justify-content: space-around;
  color: white;

  @include base_text;

  .about {
    display: flex;
    flex-direction: column;
    width: 205px;
  }

  nav {
    display: flex;
    flex-direction: column;

    a {
      color: white;
    }
  }
}