@import "../mixins/desktop.scss";
@import "../mixins/colors.css";

header {

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;

    .header-about__describe p {
      @include t-11;
      color: $grey;
      margin-left: 24px;
    }
  }

  .header-top .header-about {
    display: flex;
    align-items: center;
  }

  .header-top .header-feedback {
    @include t-14;
    @include main-dark-blue;
    width: 242px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-feedback__email {
      display: flex;
    }

    .header-feedback__email p {
      margin-left: 6px;
    }
  }

  .header-bottom {

    nav {
      height: 54px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include t-15;
      color: $black70;

      div {
        display: flex;
      }

      div p {
        margin-right: 3px;
      }
    }
  }

}