@import "../mixins/mixins.scss";
@import "../mixins/values.scss";

header {
  width: 980px;

  padding-top: 35px;
  padding-bottom: 35px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #dcdcdc;

  .logo {

    display: flex;
    align-items: center;

    .logo-describe {
      margin-left: 20px;
    }

    .logo-describe__title {
      // @include base_lineheight;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 26px;
      color: #777777;
    }

    .logo-describe__describe {
      color: $header_color_text_paragraph;
    }
  }

  .sale {
    display: flex;
    color: $header_color_text_paragraph;
  }

  .sale time {
    margin-left: 5px;
  }

  .contacts {
    font-size: 22px;
    font-weight: 600;
    color: $header_color_text_contacts;
  }
}