$grey :#8F9090;
$grey20 :#EAEAEA;
$grey30 :#E1E1E1;
$black :#000103;
$black80 :#1E1E1E;
$black70 :#404040;
$black60 :#888888;
$main-dark-blue :#174463;
$dark-blue9 :#174463;
$dark-blue95 :#2b658d;
$light-blue :#F2F6FB;
$gray-blue :#F7F7F8;