@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Cairo:wght@200;300;400;500&family=Crimson+Text:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'B612', sans-serif;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  position: absolute;
  width: 960px;
  margin: 0 auto;

  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 960px) {
  body {
    position: relative;
    overflow: hidden;
  }

  .App {
    max-width: 640px;
    padding: 0 5px;
  }
}

@media (max-width: 650px) {
  .App {
    max-width: 440px;
  }
}

@media (max-width: 450px) {
  .App {
    max-width: 370px;
  }
}
