@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;

  overflow-x: hidden;
}

.container {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}